<div class='container'>
    <div class="search-container">
        <h3>Search
            <input id="searchField" type="text"  [(ngModel)]="searchData" (ngModelChange)="getMovies()" placeholder="Movie name, genre, released year" />
        </h3>
    </div>
<div *ngFor="let movie of Movies">
    <div id="card-container">
        <mat-card class="card-1">
            <img mat-card-image
                src={{movie.poster}}
                alt="Image Not Found">
            <div class='movie-data'>
                <h3 class ="mat-card-movieTitle" >{{movie.title}}</h3>
                <div class="movie-footer">
                    <h1 class ="mat-card-genres" >{{movie.genres | noComma}}</h1>
                    <h1 class ="mat-card-releaseData" >Released: {{movie.released | date : "mediumDate"}} </h1>
                </div>
            </div>
        </mat-card>
        <mat-card class="card-2">
            <h1 class ="mat-card-imdb" >IMDB: {{movie.imdb.rating}} </h1>
        </mat-card>
    </div>
</div>

