<div class='container'>
    <div class="search-container">
        <h3>
            <input id="searchField" type="text" [(ngModel)]="searchData" placeholder="Movie name, genre, released year" />
            <!-- <button class="button">Search</button> -->
            <button mat-raised-button  (click)="getMovies()">Search</button>
        </h3>
    </div>
<div *ngFor="let movie of Movies | search : searchData ">
    <div id="card-container">
        <mat-card class="card-1">
            <img mat-card-image
                src={{movie.poster}}
                alt="Image Not Found">
            <div class='movie-data'>
                <h3 class ="mat-card-movieTitle" >{{movie.title}}</h3>
                <span class ="mat-card-genres" >{{movie.genres | noComma}}</span>
                <span class ="mat-card-releaseData" >Released: {{movie.released | date : "mediumDate"}} </span>
            </div>
        </mat-card>
        <mat-card class="card-2">
            <h1 class ="mat-card-imdb" >IMDB: {{movie.imdb.rating}} </h1>
        </mat-card>
    </div>
</div>

