.search-container {
    margin: 0 auto;
    width: 400px;
    margin-top: 21px;
    margin-bottom:21px
}

  .mat-card-image {
      width: 87px;
      height: 110px;
      padding-top: 7px;
      border-radius: 0%;
      float: left;
      margin: 0 auto;
      margin-top: -21px;
      margin-bottom: -7px;
  }

  .mat-card-genres {
      background-color:#b2cfdf;
      padding: 3px;
      border-radius: 3px;
      display: inline;
      font-size: 10px;
      
  }

  .mat-card-movieTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 57px;
    margin-top: -14px;
  }

  .movie-data {
    margin-left:124px
  }

  .mat-card-releaseData {
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    font-size: 14px;
  }

  .mat-card-imdb {
      margin: 0 auto;
      margin-top: 40px;
      font-size: 14px;
  }

  .movie-footer{
      /* display: inline; */
      margin-top: 52px;
  }


.card-1 {
     width: 65%;
     margin-right: 2px;
     background-color: white;
     color:black;
}

.card-2 {
    width: 13%;
    background-color: white;
    color:black;
    text-align: center;
    padding-top: 48px
}

#card-container {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  margin-left: 180px;
  margin-bottom: 11px;
}

#searchField {
  border: none;
  margin-left: 7px;
  border-radius: 11px;
  padding: 2px 0 0px 12px;
  height: 25px;
  width: 290px;
}

.mat-raised-button {
  border: none;
  margin-left: 7px;
  border-radius: 11px;
  /* padding: 0px 10px 10px 10px; */
  height: 25px;
  text-align: center;
  color: gray;
  background-color: skyblue;
  text-align: center; line-height: 28px;
}

input:focus {
  outline: none;
  border: 0;
}

/* button:focus {
  outline: none;
  border: 0;
  background-color: green;
} */

button:active {
  background-color: rgb(36, 59, 189);
}